.customButton {
    background-color: rgb(202, 197, 241) !important;
    color: rgb(71, 71, 71) !important;
    font-weight: bold !important;
    font-size: medium !important;

    border-radius: 5px !important;
    margin: 0px 5px 10px 0px !important;
    box-shadow: 0px 10px 5px black !important;
    width: 100% !important;
  }
  


.pushable {
  width: fit-content;
  background: hsl(340, 100%, 25%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0px 5px 15px 0px !important;
  outline-offset: 4px;
}

.helpPushable {
  background: hsl(39, 100%, 30%);
}

.front {
  border-radius: 12px !important;
  width: 100% !important;
  font-size: medium !important;
  background: hsl(345, 100%, 47%) !important;
  color: white !important;
  transform: translateY(-6px) !important;
}
.primary {
  background: hsl(346, 65%, 70%) !important;
  }

.help {
  background: hsl(39, 100%, 65%) !important;
}

.pushable:active .front {
  transform: translateY(-2px) !important;
}


.front:hover {
  background: hsl(345, 100%, 36%) !important;
  transform: translateY(-4px)!important;
  transition: transform 200ms !important;

}

.help:hover {
  background: hsl(39, 85%, 46%) !important;
}