/* #root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
} */

/* .root {
  margin : 2em;
  padding: 2em;
} */

.card {
  margin : 30px;

}

.turn-indicator {
  background-color: green;
  width : 100%;

}

.token-indicator {
float:left;

}