.root {
  margin-top:100px;
}


.card {
  margin: auto;
  margin-top : 30px;
  width: max-content;
}

.logo {
  width: 200px;
}



@media (min-width: 600px) {
  
  .logo {
    width: 300px;
  }
  .card {
    margin-bottom : 20px;
  }

  
}