
.game {
    
    width: fit-content;
    margin: 30px auto;
}

.cardContent {
    flex: 1;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.card {
    display: flex;
    align-items: center;
    margin: auto;
}

.tokenSample {
    background-color: #f0f0f0;
    margin: 0 0 0 10px;
    border-radius: 50%;
    color: transparent;
    width: 25px;
    height: 25px;

}

.logo {
    width: 80px;
}

.legendSection {
    display: flex;
    font-size: 7px;
}

.section {
    margin-bottom: 1em;
}

.buttonsDiv {
    width:fit-content;
    margin:auto;
    gap:5px;
    display:flex;
}

@media (min-width: 600px) {

    .logo {
        width: 120px;
    }
    .section {
        margin-bottom: 1.25em;
    }
  

    .legendSection {
        font-size: x-small;
    }
    .tokenSample {
        width: 35px;
        height: 35px;
    
    }
    .buttonsDiv {

        gap:10px;
    }
    
  }
  @media (min-width: 900px) {

    .game {
        margin-top: 0px;
    }
    .logo {
        width: 150px;
    }
    .section {
        margin-bottom: 1.5em;
    }
    .legendSection {
        font-size: small;
    }
  
    .tokenSample {
        width: 40px;
        height: 40px;
    
    }
    
  }