.grid {
    
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns */
    background-color: rgb(41, 95, 196);
    padding: 10px;
    gap: 5px;
    width: fit-content;
    border-radius: 2%;
    box-shadow: 10px 10px 5px black;
    margin: auto;
  }

.gridColumn:hover {
    cursor: pointer;
}

.gridColumn {
    display: grid;
    grid-template-rows: repeat(6, auto); /* 6 rows */
    gap: 5px; /* Gap between grid items */
    
}

.tokenCursor {
    /* background-color: blue; */
    border: 1px solid blue;
    padding: 20px;
    text-align: center;
    border-radius: 50%;
    color: black;

}

.tokenCursor:hover {
    background-color: pink;
}

.playerTurn:hover {
    background-color: rgb(165, 221, 169);
  }
  
.notPlayerTurn:hover {
    background-color: red;
    cursor: not-allowed;
  }

  .columnFull:hover {
    background-color: red;
    cursor: not-allowed;
  }
  
  .gridItemEmpty {
    background-color: #f0f0f0;
    border: 2px solid rgb(23, 55, 114);
    text-align: center;
    border-radius: 50%;
    color: transparent;
    height: 35px;
    width: 35px;
    box-shadow: 5px 5px 2px black inset;
}
.gridItem {
    background-color: #f0f0f0;
    border: 2px solid rgb(23, 55, 114);
    text-align: center;
    border-radius: 50%;
    color: transparent;
    min-width: 10px;
    min-height: 10px; 
    height: 35px;
    width: 35px;
} 

@media (min-width: 600px) {

    .grid {
        padding: 15px;
        gap: 7px;
      }
    .gridColumn {
        gap: 7px;
        
    }
    .gridItemEmpty {
        height: 45px;
        width: 45px;
    }
    .gridItem {
        height: 45px;
        width: 45px;
    } 
  }

  @media (min-width: 900px) {

    .grid {
        padding: 20px;
        gap: 10px;
      }
    .gridColumn {
        gap: 10px;
        
    }
    .gridItemEmpty {
        height: 60px;
        width: 60px;
    }
    .gridItem {
        height: 60px;
        width: 60px;
    } 
  }

