@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Silkscreen:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.pushable {
  background: hsl(340, 100%, 25%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0px 5px 15px 0px ;
  outline-offset: 4px;
}

.helpPushable {
  background: hsl(39, 100%, 30%);
}

.front {
  border-radius: 12px ;
  font-size: medium ;
  background: hsl(345, 100%, 47%) ;
  color: white ;
  transform: translateY(-6px) ;
  text-transform: capitalize ;
  font-family: "Silkscreen", sans-serif ;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) ;
  
}

.icon {
  font-size: large !important;
}
.primary {
  background: hsl(346, 65%, 70%) ;
  }

.help {
  background: hsl(39, 100%, 65%) !important;
}

.iconButton {
  height: 100%;
}

.pushable:active .front {
  transform: translateY(-2px) !important;
}


.front:hover {
  background: hsl(345, 100%, 36%) !important;
  transform: translateY(-4px) !important;
  transition: transform 200ms !important;

}

.help:hover {
  background: hsl(39, 85%, 46%) !important;
}

@media (min-width: 600px) {
  .front {
    font-size: medium !important;
  }
  .icon {
    font-size: x-large !important;
  }

  
}
@media (min-width: 900px) {
  .front {
    font-size: large !important;
  }
  .icon {
    font-size: x-large !important;
  }

  
}