@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Silkscreen:wght@400;700&display=swap');
.pushable {
  background: hsl(340, 100%, 25%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  width: fit-content;
  outline-offset: 4px;
  margin: auto;
 

}

.helpPushable {
  background: hsl(39, 100%, 30%);
}

.front {
  border-radius: 12px ;
  font-size:small ;
  background: hsl(345, 100%, 47%) ;
  color: white ;
  transform: translateY(-6px) ;
  text-transform: capitalize;
  font-family: "Silkscreen", sans-serif ;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;

  
}

.icon {
  font-size: large ;
}
.save {
  background: hsl(133, 41%, 53%) ;
  }

.help {
  background: hsl(39, 100%, 65%);

}

.iconButton {
  height: 57.5px;
}

.pushable:active .front {
  transform: translateY(-2px) ;
}


.front:hover {
  background: hsl(345, 100%, 36%) ;
  transform: translateY(-4px) ;
  transition: transform 200ms ;

}

.help:hover {
  background: hsl(39, 85%, 46%) ;
}

.save:hover {
  background: hsl(133, 32%, 50%) ;
  }

  .savePushable {
    background: hsl(133, 47%, 29%);
  }

@media (min-width: 600px) {
  .front {
    font-size: small ;
  }
  .icon {
    font-size: large ;
  }
  .iconButton {
    height: 100%;
  }

  
}
@media (min-width: 900px) {
  .front {
    font-size: large ;
  }
  .icon {
    font-size: x-large ;
  }

  
}