@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Silkscreen:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.pushable {
  background: hsl(340, 100%, 25%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0px 5px 15px 0px !important;
  outline-offset: 4px;
}

.helpPushable {
  background: hsl(39, 100%, 30%);
}

.front {
  border-radius: 12px !important;
  font-size: medium !important;
  background: hsl(345, 100%, 47%) !important;
  color: white !important;
  transform: translateY(-6px) !important;
  text-transform: capitalize !important;
  font-family: "Silkscreen", sans-serif !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !important;
  
}
.primary {
  background: hsl(346, 65%, 70%) ;
  }

.help {
  background: hsl(39, 100%, 65%) ;
}

.pushable:active .front {
  transform: translateY(-2px) ;
}


.front:hover {
  background: hsl(345, 100%, 36%) ;
  transform: translateY(-4px);
  transition: transform 200ms ;

}

.help:hover {
  background: hsl(39, 85%, 46%) ;
}