.meow {
    border-radius: 10px;
}

.instructionsModal {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #CCCCCC; 
    border: 2px solid #000;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2); 
    padding: 0px 0px 0px 0px; 
    color: rgb(0, 0, 0);
    overflow: visible; 
    height: 80%;
    border-radius: 20px;

    font-size: small;
    text-align: justify;
    
  }


  .padded > ul > li {
    margin-bottom: 10px;
  }
.myScroll {
  overflow: auto;
  scrollbar-width: thin;
  height: 100%;
  width: 100%;

}

.padded {
  padding: 0px 20px 20px 15px; 
}

.closeIcon {
  float: right; 
  color: white !important;
  background-color: red !important;
  cursor: pointer;
  border-radius:50% !important;
  position: absolute !important;
  right: -20px ;
  top: -30px;
  height: 25px;
  width:25px;
  
}

  .instructionsGif {
    float:right;
    width: 120px;
    margin: 20px 0px 10px 10px;
  }
  
  .instructionsSection {
    font-size: medium;
    font-weight: bold;
  
  }

  .instructionsTitle {
    font-size: large;
    font-weight: bold;
  
  }

  @media (min-width: 600px) {
    .instructionsModal {
      width: 70%;
      padding: 0px 0px 0px 10px; 
      height: 80%;
      font-size: medium;
      line-height: 1.5;
      
    }
    .padded {
      padding: 0px 25px 20px 10px; 
    }

    .instructionsGif {
      width: 180px;
      margin: 20px 0px 10px 20px;
    }
    
    .instructionsSection {
      font-size: large;
    
    }
  
    .instructionsTitle {
      font-size: x-large;
    
    }
  }

  @media (min-width: 900px) {
    .instructionsModal {
      width: 60%;
      height: 80%;
    }

    .instructionsGif {
      width: 220px;
    }
    
  }